<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="FILE_NAME" value="scss-refer" />
	<property name="LOG_HOME" value="/opt/tomcat/scss_logs/${FILE_NAME}" />

	<appender name="FILE-AUDIT"	class="ch.qos.logback.core.rolling.RollingFileAppender">
	
		<file>${LOG_HOME}/${FILE_NAME}.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_HOME}/archived/${FILE_NAME}.%d{yyyy-MM-dd.HH:mm:ss}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy	class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<logger name="com.privasia.scss" level="debug" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
	</logger>
	
	<logger name="org.springframework" level="error" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
	</logger>

	<root level="error">
		<appender-ref ref="FILE-AUDIT" />
	</root>

</configuration>